{% extends 'main.html' %}

{% block content %}

<style>
    .message {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 50px auto;
        max-width: 600px;
        text-align: center;
    }

</style>
    
    <div class="message">
        <p>As imagens foram processadas. Ao retornar à aplicação principal, navegue entre as abas laterais para atualizar a tabela.</p>
        <p>Para retornar, pressione Ctrl+W ou feche a página.</p>
        <p>Para ver as imagens originais e processadas <a href="/imagens/{{ cod_sample }}" > clique aqui </a>  </p>
    </div>

{% endblock %}


