{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Tela Principal</title>
</head>
<body>
    <header>
        <img class="title" id="image-logo" src="{% static 'image-removebg.png' %}" alt="logo" width="50" height="50">
        <h1 class="title" id="mite">MiteHunter</h1>
        <div class="nav" id="mynav">
            <a href="#">Agricultor</a>
            <a href="#">Propriedade</a>
            <a href="#">Talhão</a>
            <a href="#">Cultivo</a>
            <a href="#">Consultar Amostragem</a>
            <a href="#">Produtos</a>
            <a href="#">Cultivar</a>
            <a href="imagens/{{ c_id }}">Enviar Imagens</a>
            <a href="https://www.canva.com/">Exportar Dados</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
